body{
    text-align: center;
    background: #a2d2ff;
    color: #ffffff;
    font-family: 'Happy Monkey', cursive;
    text-shadow: 0px 0px 1px black;
}

.boy{
    width: 150px;
    border: 8px solid #EFB0C9;
    border-radius: 50%;
}

.age{
    background: #EFB0C9;
    margin-top: 15px;
}

.date{
    background: #EFB0C9;
    margin-top: -5px;
}

.age-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section{
    margin: 50px;
}

.wish-title{
    margin-bottom: 20px;
}

.gift-hint{
    margin-top: -20px;
}

.gift-cover{
    width: 400px;
    height: 400px;
    margin: 0px auto;
    border: 4px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.png");
    background-size: cover;
    margin-bottom: 100px;
}

#gift-cover-img:hover{
    background-image: url("images/first1.gif");
    background-size: cover;
    background-position: center;
}

#gift-cover-second:hover{
    background-image: url("images/second2.gif");
    background-size: cover;
    background-position: center;
}

#gift-cover-genius:hover{
    background-image: url("images/genius.gif");
    background-size: cover;
    background-position: center;
}

#gift-cover-badass:hover{
    background-image: url("images/badass.gif");
    background-size: cover;
    background-position: center;
}

#gift-cover-cheers{
    height: 250px;
}

#gift-cover-cheers:hover{
    background-image: url("images/cheers.gif");
    background-size: cover;
    background-position: center;
}

.wish{
    margin-top: -80px;
}